<div style="display:flex; background-color:#ff6600;" height="100">
	<div style="display:inline-block;" width="100">
		<img src="https://www.producthunt.com/favicon.ico" style=" border-style:solid; border-color:white; margin:5px" width="90" height="90" />
	</div>
	<div style="display:inline-block; margin: auto auto; padding-right:5px" width="500">
        <h2>
            <a href="{{ url }}" style="text-decoration:none; color:black">
                {{ content }}
            </a>
        </h2>
	</div>
</div>
